<div class="slice-control-toolbar">

	<div class="slice-toggle check-status" ng-click="toggleSlice()" ng-model="slice.visible"></div>

	<span>{{ slice.name }}</span>

	<div class="action-button-container">
		<span class="edit-button" ng-show="!editing" ng-click="editing = true">
			<i class="fa fa-pencil"></i>
		</span>
	</div>
</div>

<div class="slice-slices-container" ng-show="editing">

	<div class="slice-control slice-name">
		<label>NAME</label>
		<input class="slice-name" type="text" ng-show="editing" ng-model="slice.name"/>
	</div>

	<div class="slice-control slice-opacity">
		<label>OPACITY</label>
		{{ slice.opacity }}<br/>
		<input
		type="range"
		min="0"
		max="1"
		step="0.01"
		ng-model="slice.opacity"
		ng-change="updateSlices()"
		></input>
		<button ng-click="resetSliceOpacity()">reset</button>
	</div>

	<div class="slice-control slice-position">

		<label>POSITION</label>

		Left: {{ slice.position.left }}
		Top: {{ slice.position.top }}
		<input type="number" ng-model="slice.position.left"></input>
		<input type="number" ng-model="slice.position.top"></input>

		<button ng-click="resetPosition()">RESET</button>
	</div>

	<button class="slice-button accent" ng-click="toggleSliceDraggable()">
		<span ng-show="slice.draggable">LOCK</span>
		<span ng-show="!slice.draggable">UNLOCK</span>
	</button>
	<button class="slice-button accent" ng-click="updateSlice()">CLOSE</button>
</div>