.slice-control {
	background: #FFF;
	border-top: 1px solid #d1cfcf;
	border-bottom: 1px solid #d1cfcf;
	padding: 5px;
	position: relative;
	&:hover {
		.edit-button {
			opacity: 1;
		}
	}
}

.action-button-container {
	position: absolute;
	top: 5px;
	right: 5px;
}

.edit-button {
	opacity: 0;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
}

.check-status {
	display: inline-block;
	background: #FFF;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin: 5px 0 0 5px;
}

.slice-slices-container.active {

	.slice-control-toolbar {
		background: #f49400;
		color: #FFF;
	}

	.check-status {
		background: #ffc100;
	}
}
